<%- include('plantillas/cabecera.ejs') %>
    <form  method="POST" > 
        <h1>Formulário de contacto</h1>
        <p>
            Nombre: <br/>
            <input type="text" name="Nombre">
        </p>

        <p>
            Email: <br/>
            <input type="text" name="Email">
        </p>

        <p>
            País de origen: <br/>
            <input type="text" name="Pais">
        </p>
        <p>
            <input type="submit" value="Enviar formulário">
        </p>
    </form>
</body>
</html>
