<%- include('plantillas/cabecera.ejs') %>
    <form  method="POST" > 
        <h1>Formulário de contacto</h1>

        <p>
            Usuario: <br/>
            <input type="text" name="user">
        </p>

        <p>
            password <br/>
            <input type="text" name="password">
        </p>
        <p>
            <input type="submit" value="Enviar formulário">
        </p>
    </form>
</body>
</html>
