<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Un titulo</h1>
    <div class="box">
        <p>algo Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil vitae voluptatem cupiditate, vero assumenda commodi non cum temporibus a magni ducimus possimus voluptatum molestias porro eius quia minima, mollitia amet?</p>
    </div>
</body>
</html>