<%- include('plantillas/cabecera.ejs') %>
  <body>
    <h1><%= title %></h1>
    <p>Mande la variable title desde el router <%= title %></p>
    <p> Tambien manda la variable, variable: <%=variable%></p>
  </body>
</html>
